{% extends 'construction/base_construction.html' %}
{% load static %}

{% block content %}
{% include 'construction/includes/page_header.html' with title="Our Services" active_page="Services" page_header_image=csite.page_header_image %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.counter|add:1 }}s" data-wow-duration="0.8s">
                <div class="service-item bg-light overflow-hidden h-100 position-relative scale-hover rounded">
                    <img class="img-fluid w-100" src="{% if service.image %}{{ service.image.url }}{% else %}{% static 'img/service-placeholder.jpg' %}{% endif %}" alt="{{ service.title }}" style="height: 220px; object-fit: cover;">
                    <div class="service-text position-relative text-center h-100 p-4">
                        <h5 class="mb-3">{{ service.title }}</h5>
                        <p>{{ service.short_description }}</p>
                        <p class="small">{{ service.description|truncatewords:25 }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">No services available.</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}